<!DOCTYPE html>
<html>
  <head>
    <title>Peggy 學習 Jade</title>
  </head>
  <body>
    <h1>Peggy's Word!</h1>
    <p>12/22 learing Web cloud technical.</p>
    <p>A.&nbsp;URL Routing : </p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp; 1.view(新增jade檔)。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp; 2.app.js(提醒Express要如何將url對應到jade檔)</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp; 3.routes(新增函數 exports.[名稱])</p>
    <p>B.&nbsp;REST API :</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp; 1.回傳DATA。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp; 2.新增api.js在routes，在api裡新增time函數，用Json語法編輯，回傳:res.send("xxx")。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp; 3.app.js主程式裡，新增物件變數api(因新增api.js在routes)，之後get。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp; 4.HW:新增API"info"。 &nbsp a.顯示server's&nbspname。 &nbsp b.顯示time。 &nbsp c.顯示API被呼叫的次數。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp; 5.HW:新增API名片資料。 &nbsp a.顯示名字。 &nbsp b.顯示電話。 &nbsp c.能夠對照使用者名稱，改掉相對應的資料。。</p>
  </body>
</html>