doctype 5
html
  head
    title Peggy 學習 Jade
  body
    h1 Peggy's Word!
    p 12/22 learing Web cloud technical.
    p A.&nbsp;URL Routing : 
    p &nbsp;&nbsp;&nbsp;&nbsp; 1.view(新增jade檔)。
    p &nbsp;&nbsp;&nbsp;&nbsp; 2.app.js(提醒Express要如何將url對應到jade檔)
    p &nbsp;&nbsp;&nbsp;&nbsp; 3.routes(新增函數 exports.[名稱])

    p B.&nbsp;REST API :
    p &nbsp;&nbsp;&nbsp;&nbsp; 1.回傳DATA。
    p &nbsp;&nbsp;&nbsp;&nbsp; 2.新增api.js在routes，在api裡新增time函數，用Json語法編輯，回傳:res.send("xxx")。
    p &nbsp;&nbsp;&nbsp;&nbsp; 3.app.js主程式裡，新增物件變數api(因新增api.js在routes)，之後get。
    p &nbsp;&nbsp;&nbsp;&nbsp; 4.HW:新增APT"info"。 &nbsp a.顯示server's&nbspname。 &nbsp b.顯示time。 &nbsp c.顯示API被呼叫的次數。
