doctype html
html
  head
    title Peggy 學習 Jade
  body
    h1 Peggy's Word!
    p 12/22 learing Web cloud technical.
    p A.&nbsp;URL Routing : 
    p &nbsp &nbsp &nbsp &nbsp  1.view(新增jade檔)。
    p &nbsp &nbsp &nbsp &nbsp  2.app.js(提醒Express要如何將url對應到jade檔)
    p &nbsp &nbsp &nbsp &nbsp  3.routes(新增函數 exports.[名稱])

    p B.&nbsp;REST API :
    p &nbsp &nbsp &nbsp &nbsp  1.回傳DATA。
    p &nbsp &nbsp &nbsp &nbsp  2.新增api.js在routes，在api裡新增time函數，用Json語法編輯，回傳:res.send("xxx")。
    p &nbsp &nbsp &nbsp &nbsp  3.app.js主程式裡，新增物件變數api(因新增api.js在routes)，之後get。
    p &nbsp &nbsp &nbsp &nbsp  4.HW:新增API"info"。 &nbsp a.顯示server's&nbsp name。 &nbsp b.顯示time。 &nbsp c.顯示API被呼叫的次數。
    p &nbsp &nbsp &nbsp &nbsp  5.HW:新增API名片資料。 &nbsp a.顯示名字。 &nbsp b.顯示電話。 &nbsp c.能夠對照使用者名稱，改掉相對應的資料。

    p C.&nbsp;Frontend實作 :
    p &nbsp &nbsp &nbsp &nbsp  1.做WEB的三大重點工具 : &nbsp a.Boortstrap。&nbsp  b.jQuery &nbsp c.Express(Web Server)。
    p &nbsp &nbsp &nbsp &nbsp  2.Include 函式庫的順序不能隨意更動。
    p &nbsp &nbsp &nbsp &nbsp  3.套用bootstrp樣式練習。(div、class)
    p &nbsp &nbsp &nbsp &nbsp  4.建立ViewModel的觀念。(將資料對應到樣式之後套用)
    p &nbsp &nbsp &nbsp &nbsp  5.用jQuery的ajax函數呼叫對應RESTful API。